<%= simple_form_for(@business) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :full_address %>
    <%= f.input :address1 %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :zipcode %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
