<% provide(:title, 'All businesses') %>
<h1>All businesses</h1>
<%= form_tag import_businesses_path, multipart: true, class: 'form-inline' do %>
  <div class="form-group">
    <%= link_to "Export CSV", businesses_path(format: "csv"), class: 'btn btn-primary' %>
  </div>

  <div class="form-group">
    <%= file_field_tag :file, class: '' %>
  </div>
  
  <div class="form-group">
    <%= submit_tag "Import CSV", class: 'btn btn-info' %>
  </div>
<% end %>
<%= will_paginate %>

<ul class="businesses">
  <%= render @businesses %>
</ul>

<%= will_paginate %>

<div style='width: 800px;'>  
  <div id="map" style='width: 800px; height: 400px;'></div>  
</div>  

<script type="text/javascript">
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: { Zoom: 12 }, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @businesses_default.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
  handler.getMap().setZoom(18);
      }); </script>