<div class="container page-content">
  <div class="row">
    <div class="span12">
      <div class="row">
        <% if @businesses.blank? %>
          <h3>Couldn't find a business with your search criteria</h3>
          <% else %>
          <%= will_paginate %>
          <div class="mapx">  
  <div id="map" style='width: 300px; height: 200px;'></div>  
</div> 
            <script type="text/javascript">
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: { Zoom: 24 }, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @businessz_default.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
  handler.getMap().setZoom(10);
      }); </script>
            <% @businesses.each do |business| %>
            
              <div class="span4 box-container">
                <div class="holder">
    <div class="search_results">
      <h4><%= link_to business.name, business %></h4>
      <ul>
        <li><span class="pull-left">
        <%= business.address1 %><br>
        <%= business.city.capitalize %>, <%= business.state.upcase %> <%= business.zipcode %><br>
        <%= business.phone %><br>
        </span></li>
    
    </div>
    </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
</div>
</div>
<%= will_paginate %>