<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
        <%= render 'users/follow_form' if logged_in? %>
      </section>
      <%= link_to "Add A Business", businesses_new_path, class: "btn btn-lg btn-primary" %>
    </aside>
    <div class="col-md-8">
      <h3>Experience Feed(Businesses) <%= link_to "Users", user_feed_path, class: "btn btn-lg btn-primary" %></h3>
      
      <%= render 'shared/feed' %>
      
    </div>
  </div>
<% else %>
<div class="main_message">
<font color=#8c1aff font-weight: "bold" background-color: "purple">Rumordom</font>
  </div>
  <span><%= number_with_delimiter(Business.count, :delimiter => ',') %> total businesses!</span>
  <p class="greeting-message">Welcome to Rumordom. This is a website where you can write about an experience you've had with a business. <strong>Every Experience Matters</strong> and someone should know about it. Click <%= link_to "HERE", about_path %> for more information about <font color=#8c1aff size="3em" font-weight: "bold">Rumordom</font>.</p>
  <div>
  <div id="main-two-buttons"><%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %></div>
  <div id="main-two-buttons"><%= link_to "Write about an Experience", new_business_path, class: "btn btn-lg btn-primary" %></div>
  </div>
  <%= render 'layouts/footer' %>
  <% end %>