<h1>Welcome to Foodback</h1>
<%= link_to "Create a Business", businesses_new_path, class: "btn btn-lg btn-primary" %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      
    </aside>
    <div class="col-md-8">
      <h3>Experience Feed(Businesses) <%= link_to "Users", user_feed_path, class: "btn btn-lg btn-primary" %></h3>
      
      <%= render 'shared/feed' %>
      
    </div>
  </div>
<% else %>
<div class="body-container">
  <%= link_to image_tag("mobile-experience.jpg", :size => "390x270"), root_path %>
</div>

<h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
  
  <div class="span4">
    <div class="search-form">
      <p>Find A Business</p>
      <%= form_tag search_businesses_path, method: :get do |f| %>
        <%= text_field_tag :search, nil, placeholder: "search for bussinesses, etc." %>
        <%= text_field_tag :location, nil, placeholder: "new york, miami, etc." %>
        
        <%= submit_tag 'Search' %>
      <% end %>
    </div>
  </div>
  
  <div>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Write about an Experience", new_business_path, class: "btn btn-lg btn-primary" %>
  </div>
  
  
  <% end %>