<% provide(:title, 'Search for users') %>
<h3>Search for users</h3>

<%= will_paginate %>

<ul class="users">
    <div class="span2">
    <div class="search-form" >
    <div class="before-buttons", style="font-size:1.2em;">
      <%= form_tag search_users_path, method: :get do |f| %>
<%= text_field_tag :search, nil, placeholder: "Search for A User...." %>
</div>
<div class="buttons">
<%= submit_tag "Search", class: "btn btn-md btn-primary" %>
</div>
<% end %>
</div>
</ul>

<%= will_paginate %>