<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <%= link_to "Create a Business", businesses_new_path, class: "btn btn-lg btn-primary" %>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
      <h3>Experience Feed(Businesses) <%= link_to "Users", user_feed_path, class: "btn btn-lg btn-primary" %></h3>
      <% if @user.experiences.any? %>
      <%= render 'shared/feedz' %>
      <% else %>
      <h3><center>Your Feed is empty, go follow a business or user to start generating
          a feed of recent customer interactions/experiences</center></h3>
    <% end %> 
  </div>
</div>