<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <%= link_to "Create a Business", businesses_new_path, class: "btn btn-lg btn-primary" %>
  </aside>
  <div class="col-md-8">
    <div class="span2">
    <div class="search-form" >
    <div class="before-buttons", style="font-size:1.2em;">
      <%= form_tag search_users_path, method: :get do |f| %>
<%= text_field_tag :search, nil, placeholder: "Search for A User...." %>
</div>
<div class="buttons">
<%= submit_tag "Search", class: "btn btn-md btn-primary" %>
</div>
<% end %>
</div>
    <%= render 'follow_form' if logged_in? %>
      <% if @user.experiences.any? %>
      <h3>Experiences (<%= @user.experiences.count %>)</h3>
      <ol class="experiences">
        <%= render @experiences %>
      </ol>
      <%= will_paginate @experiences %>
      <% else %>
      <h3><center>Your Feed is empty, go follow a business or user to start generating
          a feed of recent customer interactions/experiences</center></h3>
    <% end %> 

  </div>
</div>